<a href="https://colab.research.google.com/github/jjlevine11/ds1002-tut9yt/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [9]:
# code here
my_variable = 0
while my_variable <= 20:
  my_variable = my_variable +1
  print(my_variable)
print('my_variable is less than or equal to 20') if my_variable <= 20 else print('not true')
print('odd') if my_variable % 2 ==1 else print(my_variable)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
not true
odd

## For-Loops with Lists

In [10]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [30]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for values in mylist:
  if values >= 0:
    print(values)

9
15
23
4
92
47
33
17
18
38

In [33]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for values in mylist:
  if values >= 0:
    print(values)
  if values <=0:
    print(abs(values))

9
15
23
4
92
47
33
17
4
18
38
242

In [34]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for values in mylist:
  if values < 20:
    print(values)
  if values > 40:
    print(values)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [2]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [8]:
# Write a command to print out all the keys of this dict
for thing in capitals:
  print(thing)

United States
Italy
England
Thailand
Brazil

In [9]:
# Write a command to print out all the values of this dict
for thing in capitals:
  print(capitals[thing])

Washington DC
Rome
London
Bangkok
Brasilia

In [11]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [33]:
# Write a command to print only the first three values and NOTHING more.
count=0
for key, value in capitals.items():
  if count < 3:
    print(value)
    count +=1
  else:
    break

Washington DC
Rome
London